#quote-wrapper {
  background-color: white;
  font-size: 15px;
  width: 50%;
  padding: 10px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

blockquote {
  text-align: center;
}

.btn {
  margin-right: 10px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
}

.btn-right {
  position: absolute;
  right: 0px;
}
